<h1>Listing petstores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @petstores.each do |petstore| %>
      <tr>
        <td><%= petstore.name %></td>
        <td><%= link_to 'Show', petstore %></td>
        <td><%= link_to 'Edit', edit_petstore_path(petstore) %></td>
        <td><%= link_to 'Destroy', petstore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Petstore', new_petstore_path %>
